@tailwind base;
@tailwind components;
@tailwind utilities;

/*primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary*/
:root {
  --primary: #ffffff;
  --secondary: #151515;
  --tertiary: #2563eb; /* blue-600 */
  --quaternary: #b2bac2;
  --quinary: #38bdf8;
}

[data-theme="dark"] {
  --primary: #151515;
  --secondary: #ffffff;
  --tertiary: #2563eb;
  --quaternary: #38bdf8;
  --quinary: #b2bac2;
}

/* Tailwind */
@layer components {
  body {
    font-family: "Montserrat", sans-serif;
    @apply selection:font-bold
    selection:text-white
    selection:bg-sky-400;
  }

  b {
    font-weight: 500;
  }
}