@tailwind base;
@tailwind components;
@tailwind utilities;

/*primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary*/
:root {
  --primary: #ffffff;
  --secondary: #151515;
  --tertiary: #2563eb; /* blue-600 */
  --quaternary: #b2bac2;
  --quinary: #38bdf8;
}

[data-theme="dark"] {
  --primary: #151515;
  --secondary: #ffffff;
  --tertiary: #2563eb;
  --quaternary: #38bdf8;
  --quinary: #b2bac2;
}

/* Tailwind */
@layer components {
  body {
    margin: 0;
    font-family: 'ui-monospace';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: black; */
    background-color: #2E517F;
    @apply selection:font-bold
    selection:text-white
    selection:bg-sky-400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  b {
    font-weight: 500;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  img {
    width: 40%;
  }

  h1 {
    @apply
    text-7xl
  }
  
  h6 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10vw;
    text-shadow: -0.04em 0.04em 0 #000,
            0.04em 0.04em 0 #000,
           0.04em -0.04em 0 #000,
          -0.04em -0.04em 0 #000;
  }
}